node_modules
db_data
scripts

Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.*.yml

.vscode

# Output
out
dist
.next
.turbo
.output
.vercel
.svelte-kit
build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
